---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="Open Science Software Foundation" description="Open Science Software Foundation" />
    </head>
    <body>
        <main>
            <header>
                <h1>Welcome to the Open Science Software Foundation</h1>
                <img src="/images/ossf-logo-primary.svg" alt="Open Science Software Foundation logo" width="400" height="400" />
            </header>
            <article>
                <p>More information coming soon. Stay tuned!</p>
            </article>
        </main>
        <Footer />
    </body>
</html>

<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 4rem;
        text-wrap: balance;
    }
    article p {
        text-align: center;
    }
    @media (max-width: 720px) {
        header {
            flex-direction: column;
            text-align: center;
        }
        header h1 {
            font-size: 1.953em;
        }
        header img {
            width: 250px;
        }
    }
</style>
