---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="Open Science Software Foundation" description="Empowering scientists through innovative open source." />
    </head>
    <body>
        <main>
            <header style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 1rem; width: 100%;">
                <img src="/images/ossf-logo-primary.svg" alt="Open Science Software Foundation logo" width="400" height="400" />
                <h1 class="header-title">Empowering scientists through innovative open source</h1>
            </header>
        </main>
        <section class="main">
            <ol>
                <li class="mission">
                    <h2>Mission</h2>
                    <p>The Open Science Software Foundation (OSSF) is a <b>non-profit foundation</b> dedicated to supporting open source scientific tools and promoting free access to resources for the global scientific community.</p>
                </li>
                <li>
                    <h2>Focus</h2>
                    <ol class="ordered-list">
                        <li>
                            <h3>Support existing Open Science projects</h3>
                        </li>
                        <li>
                            <h3>Incubate new Open Science projects</h3>
                        </li>
                        <li>
                            <h3>Promote resources that support Open Science</h3>
                        </li>
                        <li>
                            <h3>Be a public, non-profit fiscal and legal entity for Open Science projects</h3>
                        </li>
                    </ol>
                </li>
                <li>
                    <h2>Activities</h2>
                    <ol class="ordered-list">
                        <li>
                            <h3>Support funding for Open Science projects</h3>
                        </li>
                        <li>
                            <h3>Support for nf-core, Nextflow, MultiQC communities</h3>
                        </li>
                        <li>
                            <h3>Incubate new OSS Projects</h3>
                        </li>
                    </ol>
                </li>
                <li>
                    <h2>Projects</h2>
                    <ul class="cards">
                        <li>
                            <h3>nf-core infrastructure developer (CRG)</h3>
                            <h4>2024 - onwards</h4>
                            <p>Funding 50% of a position for a developer to work on foundational tooling and infrastructure to support the nf-core community.</p>
                        </li>
                        <li>
                            <h3>MITACS Accelerate PhD Fellowship</h3>
                            <h4>2024 - 2025</h4>
                            <p>Funding one year project to develop Nextflow and nf-core pipelines for neuroimaging, a crucial and emerging field in the life sciences.</p>
                        </li>
                        <li>
                            <h3>2x QBiC PhD positions</h3>
                            <h4>2025 - 2029</h4>
                            <p>Funding for 50% of two PhD fellowships at the Quantitative Biology Centre at the University of Tübingen, to work on nf-core central software development projects.</p>
                        </li>
                        <li>
                            <h3>Ecoflow BBSRC Grant (UCL)</h3>
                            <h4>2024 - 2026</h4>
                            <p>Funding for position to work on ecology Nextflow pipelines.</p>
                        </li>
                        <li>
                            <h3>nf-core mentorships</h3>
                            <h4>2025 - onwards</h4>
                            <p>Continuation of the popular <a href="https://nf-co.re/mentorships">nf-core mentorships</a> program, through which mentors are rewarded for the time put into helping mentees accepted into the program.</p>
                        </li>
                        <li>
                            <h3>nf-core event support</h3>
                            <h4>2024 - onwards</h4>
                            <p>Sponsorship of distributed nf-core hackathon sites.</p>
                        </li>
                    </ul>
                    <p class="footnote">* Seqera will act as the interim funding provider until the legal status of the Foundation is complete. </p>
                </li>
                <li>
                    <h2>Sources of funding</h2>
                    <ol class="ordered-list">
                        <li>
                            <h3>Current: Seqera</h3>
                        </li>
                        <li>
                            <h3>Future: Grants, Corporate Sponsors, Philanthropic Organizations</h3>
                        </li>
                    </ol>
                </li>
                <li>
                    <h2>Trustees</h2>
                    <div class="trustees-container">
                        <ol class="trustee-hexagons">
                            <li class="ellen">
                                <div class="trustee-info">
                                    <h3>Ellen Sherwood</h3>
                                    <h4>nf-core steering committee</h4> 
                                </div>
                            </li>
                            <li class="paolo">
                                <div class="trustee-info">  
                                    <h3>Paolo Di Tommaso</h3>
                                    <h4>Creator of Nextflow</h4>
                                </div>
                            </li>
                            <li class="gisela">
                                <div class="trustee-info">
                                    <h3>Gisela Gabernet</h3>
                                    <h4>nf-core steering committee</h4>
                                </div>
                            </li>
                            <li class="alex">
                                <div class="trustee-info">
                                    <h3>Alex Peltzer</h3>
                                    <h4>Co-creator of nf-core</h4>
                                </div>
                            </li>
                            <li class="evan">
                                <div class="trustee-info">
                                    <h3>Evan Floden</h3>
                                    <h4>nf-core steering committee</h4>
                                </div>
                            </li>
                            <li class="sven">
                                <div class="trustee-info">
                                    <h3>Sven Nahnsen</h3>
                                    <h4>nf-core steering committee</h4>
                                </div>
                            </li>
                            <li class="phil">
                                <div class="trustee-info">
                                    <h3>Phil Ewels</h3>
                                    <h4>Co-creator of nf-core</h4>
                                </div>
                            </li>
                        </ol>
                    </div>
                </li>
                <li>
                    <h2>FAQ</h2>
                    <dl>
                        <dt>When will the OSSF be fully established?</dt>
                        <dd>The OSSF is in the process of becoming a legal Foundation in the state of Catalonia. We hope to be fully operational within 2025.</dd>

                        <dt>How do you select projects?</dt>
                        <dd>We are currently defining the procedure for project selection. Projects will be assessed on a case-by-case basis by the board of trustees. If you have a project that you think would be a good fit for the OSSF, please <a href="mailto:info@openscience.software">email us at info@openscience.software</a> to get in touch.</dd>

                        <dt>How does governance work?</dt>
                        <dd>The Board of Trustees is responsible for fulfilling the foundation’s mission and managing its resources. The first board is composed of members of the <a href="https://nf-co.re/steering">nf-core steering committee</a> and Paolo. Going forward the Board will self-appoint new trustees. Trustees serve for two-year terms and may be re-elected indefinitely.</dd>

                        <dt>Does Seqera own the OSSF?</dt>
                        <dd>No. Seqera has no legal or financial interest, the Foundation is a public good and a completely separate entity.</dd>

                        <dt>How do you manage conflicts of interest?</dt>
                        <dd>Trustees must avoid conflict of interest and declare to the board any that might arise. In order to avoid conflict of interest stemming from employment or commercial interests, the trustees come from varied backgrounds.</dd>

                        <dt>Does the OSSF hire developers?</dt>
                        <dd>The OSSF is not an employer - only a distributor of funds. The foundation can pay for expenses and pay invoices sent from institutions or self-employed contractors</dd>

                        <dt>Does all nf-core activity have to go through the foundation?</dt>
                        <dd>No - institutions can (and should) continue to apply for funding to work on projects related to nf-core. The OSSF acts as a fiscal sponsor: an additional entity which can be used to apply for and distribute funds.</dd>

                    </dl>
                </li>
            </ol>
        </section>
        <Footer />
    </body>
</html>
