@font-face {
  font-family: "Instrument Serif";
  src: url("InstrumentSerif-Regular.woff2") format("woff2");
  /* src: url("InstrumentSerif-Regular.woff") format("woff"); */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("InstrumentSerif-Italic.woff2") format("woff2");
  /* src: url("InstrumentSerif-Italic.woff") format("woff"); */
  font-weight: 400;
  font-style: italic;
}
